/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 0;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family:'Poppins', sans-serif;
    padding-top: 0px;
}

.logo {
    width: 129px;
    height: 51px;
    display: block;
    background-image: url(../img/logo.png);
    position: absolute;
    z-index: 0;
    top: 69px;
}


ul {
    font-size: 20px;
    line-height: 100px;
    color: white;
    padding:40px;
    list-style: none;
}

ul li {
    font-size: 15px;
    position: relative;
    text-align: left;
    padding-left: 80px;
}

li.las-vegas:after {
    content: '';
    background-image: url('../img/lasvegas.jpg');
    display: block;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
}

li.salar-de-uyuni:after {
    content: '';
    background-image: url('../img/salar.jpg');
    display: block;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
}

li.niagra-falls:after {
    content: '';
    background-image: url('../img/niagra.jpg');
    display: block;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
}

li.forbidden-city:after {
    content: '';
    background-image: url('../img/forbiddencity.jpg');
    display: block;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
}

li.the-zocola:after {
    content: '';
    background-image: url('../img/zocola.jpg');
    display: block;
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
}

ul li:before {
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

li.las-vegas:before {
    content: '1';
}

li.salar-de-uyuni:before {
    content: '2';
}

li.niagra-falls:before {
    content: '3';
}

li.forbidden-city:before {
    content: '4';
}

li.the-zocola:before {
    content: '5';
}

/*h1 {
    font-size: 48px;
    color: hotpink;
}

#logo {
    
}

h2 {
    font-size: 36px;
    background: violet;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
}

h3 {
    font-size: 28px;
    margin: 0 0 10px;
}

h4 {
    margin: 0 0 10px;
}

h5 {
    margin: 0 0 10px;
}

h6 {
    margin: 0 0 10px;
}*/


img {
    width: 100%;
    height: auto;
}

#image1 {
   
 }

 #image2 {
    padding-top: 0px;

 }

 /*#button1 {
    height:auto;
    width:30%;
 }*/

/* #button2 {
    height:auto;
    width:30%;
 }*/

 .boxed {
  background-color:#3b3b45;
  width: 100%;
  color: white;
  text-align: center;
}

.boxed p {
    line-height: 2;
}

 .subboxed {
  width: 100%;
  color: white;
  text-align: center;
  background: #3b3b45; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3b3b45, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3b3b45, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3b3b45, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3b3b45, white); /* Standard syntax (must be last) */
}


.column.right .boxed {
    padding: 26px;
    font-size: 20px;
    overflow: auto;
    box-sizing: border-box;
}

.column.left .video-container {
    position: relative;
    height: 823px;
}

.column.left .video-container video {
    width: 330px;
    height: auto;
    top: 175px;
    left: 60px;
    position: absolute;
    z-index: 2;
}

.column.left .video-container img {
    width: 410px;
    height: auto;
    top: 100px;
    left: 20px;
    position: absolute;
    z-index: 1;
}



nav {
    position: relative;
    height: 185px;
    background: transparent;
    z-index: 1;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    display: inline-block;
    float: right;
    margin-top: 56px;
}

nav li {
    display: inline-block;
    text-align: right;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 1px;

}
nav li b{
    text-decoration: none;
    color: #ff0535;
    text-align: center;
    /* padding: 45px; */
    /* background: black; */
    /* padding-bottom: 10px; */
    /* padding-right: 40px; */
    /* padding-left: 40px; */
    /* padding-top: 10px; */
    font-weight: bold;
}

section {
    max-width: 75%;
    margin: auto;
    width: 100%;
    overflow: visible;
}


section.grid {
    text-align: center;
    overflow: auto;
    background-image: url('../img/citymap.png');
    background-position-y: -32px;
    background-repeat: repeat;
    background-color: #ebedff;
    background-size: 25%;

}

section.grid .column {
    width: 50%;
    height: 2000px;
    float: left;
    box-sizing: border-box;
}


section.grid .column.right {

}

section.grid .column.left {
    margin-right: 0%;
}

.no-margin {
    margin-bottom: 0 !important;
}


input[type="submit"] {
    background: red;
}

article img {
    width: 100%;
    height: auto;
}

footer{
    position: relative;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

footer li{
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 60px;
    padding-bottom: 40px;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 40px;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
}

footer li a{
    text-decoration: none;
    color: black;

}