/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 0;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family:'Poppins', sans-serif;
    padding-top: 0px;
}
.footer ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 60px;
    padding-bottom: 40px;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 40px;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
}

.footer ul li a{
    text-decoration: none;
    color: black;
}
.logo {
    width: 129px;
    height: 51px;
    display: block;
    background-image: url(../img/logo.png);
    position: absolute;
    z-index: 0;
    top: 69px;
}

ul {
    font-size: 18px;
    line-height: 33px;
    color: white;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    list-style: none;
    text-align: center;
}

.subboxed ul li {
    font-size: 18px;
    color: white;
    position: relative;
    text-align: left;
    line-height: 33px;
    padding-bottom: 85px;
}



/*h1 {
    font-size: 48px;
    color: hotpink;
}

#logo {
    
}

h2 {
    font-size: 36px;
    background: violet;
    width: 100%;
    text-align: center;
    margin: 0 0 10px;
}

h3 {
    font-size: 28px;
    margin: 0 0 10px;
}

h4 {
    margin: 0 0 10px;
}

h5 {
    margin: 0 0 10px;
}

h6 {
    margin: 0 0 10px;
}*/


img {
    width: 100%;
    height: auto;
}

#image1 {
    opacity: 0.99;
   
 }

 #image2 {
    opacity: 0.99;

 }

 /*#button1 {
    height:auto;
    width:30%;
 }*/

/* #button2 {
    height:auto;
    width:30%;
 }*/


.column.right .titletrax {
  background: #3b3b45; /* For browsers that do not support gradients */
  width: 100%;
  padding: 40px;
  color: white;
  text-align: left;
  font-size: 42px;
  font-weight: bold;
  padding-left: 150px;
  overflow: hidden;
  opacity: 0.99;
}

.boxed p {
    line-height: 2;
}

 .subboxed {
  width: 100%;
  color: white;
  text-align: center;
  background: #3b3b45; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3b3b45, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3b3b45, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3b3b45, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3b3b45, black); /* Standard syntax (must be last) */
  opacity: 0.99;
}


.column.right .boxed {
    padding: 35px;
    font-size: 43px;
    font-weight: bold;
    overflow: auto;
    box-sizing: border-box;
    color:transparent;
}

.column.left .video-container {
    position: relative;
    height: 823px;
}

.column.left .video-container video {
    width: 330px;
    height: auto;
    top: 175px;
    left: 105px;
    position: absolute;
    z-index: 2;
}

.column.left .video-container img {
    width: 410px;
    height: auto;
    top: 100px;
    left: 65px;
    position: absolute;
    z-index: 1;
}


nav {
    position: relative;
    height: 185px;
    background: transparent;
    z-index: 1;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    display: inline-block;
    float: right;
    margin-top: 56px;
}

nav li {
    display: inline-block;
    padding-top: 30px;
    text-align: right;
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 40px;
}

nav li b{
    text-decoration: none;
    color: #ff0535;
    text-align: right;
    font-weight: bold;
    padding-left: 30px;
}

section {
    max-width: 75%;
    margin: auto;
    width: 100%;
    overflow: visible;
}


section.grid{
    text-align: center;
    overflow: auto;
    background-image: url('../img/citymap.png');
    background-position-y: -32px;
    background-repeat: repeat;
    background-color: #ebedff;
    background-size: 25%;
    animation: background-move 10s infinite;
}

section.grid .column {
    width: 50%;
    height: 1400px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}


section.grid .column.right {

}

section.grid .column.left {
    margin-right: 0%;
}

.no-margin {
    margin-bottom: 0 !important;
}


input[type="submit"] {
    background: red;
}

article img {
    width: 100%;
    height: auto;
}


footer{
    position: relative;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

div.share{
    background-color: black;
    width: 50%;
    height: 600px;
    padding-top: -600px;
    box-sizing: border-box;
    overflow: hidden;
    width: 75%;
    margin: auto;
    content: center;
    margin-top: -30px;
    opacity: 0.99;
}

.share button {
    position: absolute;
    min-width: 200px;
    width: 20%;
    border: 3px solid white;
    margin: auto;
    height: 4em;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    align-self: center;
    left: 40%;
    top: 215%;
    background:transparent;
}

ul.titleshare {
    text-align: center;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin: 3rem;
  text-transform: uppercase;
  animation: background-move 10s infinite;
  background-image: url('../img/citymap.png');
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   overflow: hidden;
   margin-top: 150px;
}

@keyframes background-move {
  0% {
    background-position: 0% 0%;
  }
  
  25% {
    background-position: 5% 10%;
  }
  
  50% {
    background-position: 15% 15%;
  }
  
  75% {
    background-position: 10% 5%;
  }
  
  100% {
    background-position: 0% 0%;
  }

ul.aboutshare {
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: initial;
}




